* {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    font-weight: normal;
}
body {
    background-color: rgb(41, 40, 40);
}
header h3 {
    color: white;
    text-align: center;
    margin-top: 30px;
}
header i {
    margin-right: 10px;
}
.img {
    width: 100%;
}
main {
    background-color: white;
    width: 50%;
}
.section-01 h3{
    color: #996633;
    text-align: center;
    margin-top: 30px;
}
.section-01 div {
    margin-left: 20px;
}
table {
    position: absolute;
    z-index: 2;
    transform: translate(-50, -50%);
    width: 47%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin-top: 20px;
}
th, td {
    padding: 8px 12px;
}
.menu {
    text-align: left; 
}
th {
    background-color: rgb(184, 183, 183);
    color: black;
    text-decoration: uppercase;
}
td {
    color: rgb(112, 111, 111);
}
.white {
    background-color: rgba(250, 249, 249, 0.966);   
}
.gray {
    background-color: rgba(228, 225, 225, 0.966);
}
.section-02 h3{
    color: #996633;
    text-align: center;
    margin-top: 55%;
}
.section-02 div {
    margin-left: 20px;
}
.content-wrapper {
    margin: 30px auto 0px auto;
}
.section-03 h3 {
    color: #996633;
    text-align: center;
    margin-top: 50%;
}
.gallery-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.gallery img {
    width: 198px;
    height: 190px;
}
.gallery h4, p {
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
}
hr {
    width: 60%;
    height: 2px;
    margin-left: 20%;
    margin-top: 5%;
    background-color: rgb(202, 201, 201);
    border: 0;
}
.section-04 h3 {
    color: #996633;
    text-align: center;
    margin-top: 20px;
}
.section-04 p {
    color: rgb(112, 111, 111);
    margin-top: 15px;
    text-align: left;
    margin-left: 16%;
    margin-top: 20px;
}
.section-05 h3 {
    color: #996633;
    text-align: center;
    margin-top: 25px;
}
.section-05 p {
    color: rgb(112, 111, 111);
    margin-top: 30px;
}
span {
    color: black;
    font-weight: 600;
}
.socialmedia-icons {
    display: flex;
    justify-content: center;
}
.fa-brands {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    height: 18px;
    text-align: center;
    text-decoration: none;
    margin: 35px 5px 25px 5px;
    border-radius: 3px;
}
.fa-facebook {
    background: rgb(180, 180, 180);
    color: white;
}
.fa-twitter {
    background: rgb(180, 180, 180);
    color: white;
}
.fa-instagram {
    background: rgb(180, 180, 180);
    color: white;
}
.fa-pinterest {
    background: rgb(180, 180, 180);
    color: white;
}
.Copyright {
    text-align: center;
    color: white;
    font-size: 12px;
    margin: 30px 0 40px 0;
}

.fa-solid {
    color: white;
    
    
    
}